.btn-submit {
    border: 3px solid #ff1f59;
    padding: 10px 80px;
    padding-bottom: 20px;
    color: #ff1f59;
}

.btn-submit:hover {
    background-color: #ff1f59;
    color: aliceblue;
    /* font-weight: bold; */
    box-shadow: 0 4px 8px 0 rgba(95, 91, 91, 0.2), 0 6px 20px 0 rgba(71, 44, 44, 0.19);
    transform: scale(1.07);
    transition: transform 2s ease;

}

.quiz-templeate-title {
    color: #ff1f59;
    font-weight: normal;
}

.total-question-title {
    color: #2040fe;
    font-weight: normal;
}