.btn-submit {
    border: 2px solid #ff1f59;
    padding: 10px 80px;
    padding-bottom: 20px;
    color: #ff1f59;
}

.btn-submit:hover {
    background-color: #ff1f59;
    color: aliceblue;
    /* font-weight: bold; */

}

.quiz-templeate-title {
    color: #ff1f59;
    font-weight: normal;
}

.total-question-title {
    color: #2040fe;
    font-weight: normal;
}